<div class="jumbotron">
  <h1 class="display-4">Ozone!</h1>
  <p class="lead">This is the current air quality readout for my neighbourhood in Washington D.C. metro area</p>
  <hr class="my-4">
  <p>"Reload" in your web browser to update the reading...</p>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>
